@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);

*, 
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-boxsizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
}

body {
  color: #343530;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;

}

h1 {
  color: #343530;
  text-align: center;
  font-size: 45px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h3 {
  color: #343530;
  text-align: center;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h4 {
  color: #343530;
  text-align: center;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}


p {
  font-size: 17px;
  color: #343530;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background-color: #FFED74;
  border: 1px black solid;
  padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#slogan  {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 800px) {
  nav {
    float: none;
  }

  nav a {
    margin: 0 1.6em .75em 0;
  }

  img {
    width: 320px;
  }
    #about {
    font-size: 1.4em;
    line-height: 1.8em;
  }
}

@media only screen and (max-width: 480px) {

header {
  background-color: #FFED74;
  border: 1px black solid;
 /* width: 100%;*/
  height: 50%;
  padding: 5px;
}

header img {
	width: 100%;
}

  h1, nav {
    display: block;
    text-align: center;
  }

  #navigation img {
	  float: none;
	  display: inline;
	  width: 100%;
  } 
  
  #promo {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 5px;	  
  }
  
  #promo img {
  display: block;
  width: 100%;
  }
  
  #navigation {  
	background-color: #FFE2B8;
	width: 100%;
	border: 1px black solid;
	padding: 5px;
	}
	
	#slogan  {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 6vw;
  font-weight: 400;
  text-align: center;
}

.instagram h2 {
	font-size: 5vw;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 5px;
    float: none;
    width: 100%;
	font-size: 3vw;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 5px;
    float: none;   
    width: 100%;
	font-size: 3vw;
}

#right a {
	font-size: 3vw;
}

#right p {
	font-size: 3vw;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 3px;
}

h4 {
  color: #343530;
  text-align: center;
  font-size: 5vw;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
	
}



/*#instagram {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}

#instagram h2 {
	txt-align: center;
} */

#article {
  background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;
}

/*#navigation {
  width: 33.3333%;
}*/

.nav-link {
display: block;
width: 33.3333%;
float: left;
}

/*.nav-link img { width: 100%; }*/

nav:after {
display: block;
content: ‘ ‘;
clear: both;
}








ul {
    text-align: center;
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}