body {
  color: #343530;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;

}

h1 {
  color: #343530;
  text-align: center;
  font-size: 45px;
  font-family: "Open Sans", sans-serif;

}

h3 {
  color: #343530;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 90%;
}

p {
  font-size: 17px;
  color: #343530;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#slogan  {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 28px;
  text-align: center;
}

.CenteredBullets {
  text-align: center;
}

a {
  text-decoration: none;
}