body {
  color: #343530;
  text-align: center;

}

h1 {
  color: #343530;
  text-align: center;

}

hr {
  width: 400px;
}

p {
  font-size: 22px;
  color: #343530;
}

#slogan  {
  font-style: italic;
}